/*TODO: PC: Incorporate Bootstrap.*/
html {
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 20px;
}
h1, #login {
  text-align: center; 
}
#login {
  display: none;
  height: 100px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#chat {
  display: none;
}
#output {
  position: relative;
  height: 75vh;
  border: 1px solid #aaa;
  padding: 2px 5px;
  overflow-y: scroll;
}
#output .bottom {
  position: absolute;
  bottom: 0;
}

#message {
  display: inline-block;
  width: calc(100% - 75px);
  box-sizing: border-box;
}
#send-message {
  display: inline-block;
  width: 75px;
  box-sizing: border-box;
}
