/*TODO: PC: Incorporate Bootstrap.*/
html {
  font-family: Helvetica, Arial, sans-serif;
}
body {
  position: static;
}
h1 {
  font-size: 20px;
}
h1, #login {
  text-align: center; 
}
#login {
  display: none;
  height: 100px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#chat {
  display: none;
}
#output {
  position: relative;
  height: 75vh;
  border: 1px solid #aaa;
  padding: 2px 5px;
  overflow-y: scroll;
}
/*TODO: PC: This prevents scrolling the output because position: absolute; doesn't affect the containing block. */
#output .bottom {
  position: absolute;
  bottom: 0;
}
#output img {
  vertical-align: bottom;
  height: 200px;
  width: auto;
}

#image-upload-button {
  position: absolute;
  top: 7px;
  right: 85px;
  z-index: 10;
  font-size: 20px;
}
#message {
  /*display: inline-block;*/
  /*width: calc(100% - 75px);*/
  /*box-sizing: border-box;*/
  padding-right: 35px
}
#send-message {
  /*display: inline-block;*/
  width: 75px;
  /*box-sizing: border-box;*/
}
.hidden {
  display: none;
}
