/*TODO: PC: Incorporate Bootstrap.*/
html {
  font-family: Helvetica, Arial, sans-serif;
}
h1, #login {
  text-align: center;
}
#chat {
  display: none;
}
#output {
  border: 1px solid #000;
  height: 50vh;
  overflow-y: scroll;
}

#message {
  display: inline-block;
  width: calc(100% - 75px);
  box-sizing: border-box;
}
#send-message {
  display: inline-block;
  width: 75px;
  box-sizing: border-box;
}